@import '../../variables';

.segment {
  &Column {
    width: 100px;
  }

  &Title {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: $gray_1;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &Text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: $black_1;
  }
}
