@import '../../variables';
@import '../../mixins';

.title {
  @include header;
}

.filtersWrapper {
  margin-top: 10px;
  position: relative;
  left: -$card_padding;
  width: calc(100% + #{2 * $card_padding});
}
