@import '../../variables';
@import '../../mixins';

.filters {
  position: fixed;

  @include for-phone-only {
    position: inherit;
  }

  &Title {
    @include header;
  }

  &Wrapper {
    margin-top: 10px;
    position: relative;
    left: -$card_padding;
    width: calc(100% + #{2 * $card_padding});
  }
}
