@import 'reset-css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import './variables';

body {
  font-family: 'Open Sans';
  color: $black_1;
  background-color: $blue_4;
}
